<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat app</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/list-animation.css" type="text/css">
    <link rel="stylesheet" href="/css/list-animation.css" type="text/css">
    <link rel="stylesheet" href="/css/notification-style.css" type="text/css"> 
    <style>
    </style>
  </head>
  <body>
    <%- include('./partials/login-form.ejs') %> 
    <%- include("./partials/nav.ejs") %> 
    <%- include("./partials/menu.ejs") %>
    
    <script>
        var sessionID = `<%= sessionID %>`
        var roomKey = "PUBLIC"
    </script>
    <ul id="messages"></ul>
    <div
      id = "server_message"
      class = ""
    ></div>
    <div
      id = "bottom_area" 
    >
      <div
        id="bottom_tabs"
      >
        <%- include("./partials/notification-tab.ejs") %>
      </div>
      <form id="chatform" action="">
        <input id="input" autocomplete="off" /><button>Send</button>
      </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type = "text/javascript" src = "/scripts/components.js"></script>
    <script type = "text/javascript" src ="/scripts/chat-room-tracking.js"></script>
    <script type = "text/javascript" src = "/scripts/authComponents.js"></script>
    <script type = "text/javascript" src = "/scripts/functions.js"></script>
    <script type = "text/javascript" src = "/scripts/common-functions.js"></script>
    <script type = "text/javascript" src = "/scripts/initialize.js"></script>
    <script type = "text/javascript" src = "/scripts/chat-script.js"></script>
    <script type = "text/javascript" src = "/scripts/menu.js"></script>
    <script type = "text/javascript" src = "/scripts/user-script.js"></script>
    <script type = "text/javascript" src = "/scripts/typing-activity.js"></script>
    <script type = "text/javascript" src = "/scripts/login-form.js"></script>
    <script type = "text/javascript" src = "/scripts/notification-script.js"></script>
    <script type = "text/javascript" src ="/scripts/sockets.js"></script>
  </body>
</html>