<!DOCTYPE html>
<html>
  <head>
    <title>Private Message Room</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/list-animation.css" type="text/css">
    <link rel="stylesheet" href="/css/notification-style.css" type="text/css"> 
    <style>
    </style>
  </head>
  <body>
    <%- include('./partials/login-form.ejs') %>
    <%- include("./partials/nav.ejs", {title:"Private Chat"}) %> 
    <%- include("./partials/menu.ejs") %>
    <script>
        var roomKey = `<%= roomKey %>`
        var sessionID = `<%= sessionID %>`
    </script>
    <div
        id = "private-chat-container"
    >
        <div
            id = "existing-rooms"
        >  
            <div 
            id = "existing-rooms-list" 
            class = "existing-rooms-list-closed">
                <div
                    class = "existing-rooms-list-item"
                >Main Room</div>
                                <div
                    class = "existing-rooms-list-item"
                >Main Room</div>
                                <div
                    class = "existing-rooms-list-item"
                >Main Room</div>
                                <div
                    class = "existing-rooms-list-item"
                >Main Room</div>
                                <div
                    class = "existing-rooms-list-item"
                >Main Room</div>
                                <div
                    class = "existing-rooms-list-item"
                >Main Room</div>
            </div>
        </div>
        <div>
            <ul id="messages" class = "private-messages-mobile"></ul>
            <div
            id = "server_message"
            class = ""
            ></div>
            <div
            id = "bottom_area" 
            >
            <div
                id="bottom_tabs"
            >
                <%- include("./partials/notification-tab.ejs") %>
            </div>
            <form id="chatform" action="">
                <input id="input" autocomplete="off" /><button>Send</button>
            </form>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type = "text/javascript" src = "/scripts/components.js"></script>
    <script type = "text/javascript" src = "/scripts/chat-room-tracking.js"></script>
    <script type = "text/javascript" src = "/scripts/authComponents.js"></script>
    <script type = "text/javascript" src = "/scripts/common-functions.js"></script>
    <script type = "text/javascript" src = "/scripts/notification-script.js"></script>
    <script type = "text/javascript" src = "/scripts/private-chat/functions.js"></script>
    <script type = "text/javascript" src = "/scripts/private-chat/initialize.js"></script>
    <script type = "text/javascript" src = "/scripts/menu.js"></script>
    <script type = "text/javascript" src = "/scripts/private-chat/load-user-elements.js"></script>
    <script type = "text/javascript" src = "/scripts/login-form.js"></script>
    <script type = "text/javascript" src = "/scripts/private-chat/main.js"></script>
    <script type = "text/javascript" src = "/scripts/private-chat/typing-activity.js"></script>
    <script type = "text/javascript" src = "/scripts/private-chat/sockets.js"></script>
    <script type = "text/javascript" src = "/scripts/shared-sockets.js"></script>
  </body>
</html>